.NameColumn,
.AmountColumn
{
  display: flex;
  flex-direction: row;
  align-items: center!important;
}

input.NameInput,
input.AmountInput,
input.AmountInputInvalid
{
  padding: 2px;
  border: #cccccc 1px solid;
  height: 27px;
}

input.NameInput
{
  width: 100%;
}

input.AmountInput,
input.AmountInputInvalid
{
  width: 80%;
  text-align: right;
}

input.AmountInputInvalid 
{
  background-color: pink;
}


input.AmountInput::-webkit-outer-spin-button,
input.AmountInput::-webkit-inner-spin-button ,
input.AmountInputInvalid::-webkit-outer-spin-button,
input.AmountInputInvalid::-webkit-inner-spin-button 
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number].AmountInput,
input[type=number].AmountInputInvalid
{
  -moz-appearance:textfield;
}


::placeholder /* Chrome, Firefox, Opera, Safari 10.1+ */
{ 
  color:#cccccc;
  font-style: italic;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder /* Internet Explorer 10-11 */
{ 
  color:#cccccc;
  font-style: italic;
}

::-ms-input-placeholder /* Edge */
{ 
  color:#cccccc;
  font-style: italic;
}

@media (max-device-width : 667px)
{
  input.AmountInput,
  input.AmountInputInvalid
  {
    width: 70%;
  }
}