.Receipt
{
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  border-top: black 1px solid;
  border-bottom: black 1px solid;
  padding-bottom: 5px;
}

.Receipt div
{
  padding: 5px;
}

.ReceiptHeader
{
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
}

.ReceiptFooter
{
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
}
